<!DOCTYPE html>
<head>
  <title>Word Bank</title>
  <!-- <script src="https://cdn.jsdelivr.net/npm/offline-tts@1.1.4/index.min.js"></script> -->
  <link rel="stylesheet" href="/static/stylesheets/style.css" type="text/css">

</head>
<body>
  <div>
    
  <div class="holdBoth">
    <div class="repeatBox">
      <div class="word">Tester</div>
      <button type="submit" class="wordRepeat">Replay</button>
      <!-- <h1>JavaScript Text-to-Speech App</h1>
      <form id="form">
        <input type="text" id="text-input" placeholder="Enter Text" />
        <button type="submit" id="submit-button">Submit</button>
      </form> -->
    </div>

      <!-- <form action="/:findDate/">
        <input type="text" placeholder="09-25-89" name="date">
      <button type="submit">Get Date</button>
      </form> -->
    </div>
    


    <div class="bankBox">
      <h2>Word Bank</h2>
      <form action="/" method="POST">
        <input type="text" name="content" id="content" />
        <button type="submit" class="talk-btn">Submit</button>
      </form>
      <ul>
        <% wordBank.forEach(details => { %>
          <!-- creating an LI for each instance -->
        <li>
            <!-- details.content is the word being posted and sent to db -->
            <!-- can add the edit and delete function just want basics to work -->
          <div><%= details.content %></div>
          <a href="/edit/<%= details._id %>" class="edit">
            <span>Edit</span>
          </a>
          <a href="/remove/<%= details._id %>" class="remove">
            <span>Remove</span>
          </a>
        </li>
        <% }) %>
      </ul>
    </div>
  </div>
</div>
<script src="/static/main.js"></script>
</body>