<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Word Bank</title>
  <!-- <script src="https://cdn.jsdelivr.net/npm/offline-tts@1.1.4/index.min.js"></script> -->
  <link rel="stylesheet" href="/static/stylesheets/style.css" type="text/css" />
  <link href="https://fonts.googleapis.com/css2?family=Lexend&display=swap" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/ddd77854d8.js" crossorigin="anonymous"></script>
</head>

<!-- <div class="container">
  <div class="workbank"></div>
  <div class="speakbank"></div>
</div> -->
<body>
    <div class="container holdBoth">
        
          <div class="speakbank repeatBox doubleColumn">
            <div class="word">Hit Next To Begin</div>
            <div class="buttonGrp">
              <button type="submit" class="wordNew confirmBtn">Next</button>
              <button class="wordRate confirmBtn">Repeat</button>
              <input
                type="range"
                min="0.1"
                max="10"
                value="1"
                step="0.1"
                class="slider"
                id="SpeachRateSlider"
              />
            </div>
          </div>
    
          <div class="workbank bankBox column">
            <div class="inputWords">
              <h2>Word Bank</h2>
              <form action="/" method="POST">
                <input type="text" name="content" id="content" />
                <button type="submit" class="confirmBtn">Submit</button>
              </form>
            </div>
            <div class="editWords">
    
          <ul>
            <% wordBank.forEach(details => { %>
            <!-- creating an LI for each instance -->
            <li class="bankList">
              <!-- details.content is the word being posted and sent to db -->
              <!-- can add the edit and delete function just want basics to work -->
              <div><%= details.content %></div>
              <a href="/edit/<%= details._id %>" class="edit">
                <span class="fa-solid fa-pen-to-square" role="img" aria-label="Edit"></span>
              </a>
              <a href="/remove/<%= details._id %>" class="remove">
                <span class="fa-solid fa-trash-can" role="img" aria-label="Delete"></span>
              </a>
            </li>
            <% }) %>
          </ul>
        </div>
      </div>
    
    </div>
    
  <script src="/static/main.js"></script>
</body>
</html>