<!DOCTYPE html>
<head>
  <title>Word Bank</title>
  <link rel="stylesheet" href="/static/stylesheets/style.css" type="text/css">

</head>
<body>
  <div>
    
  

    <div class="bankBox">
      <h2>Word Bank</h2>
      <form action="/" method="POST">
        <input type="text" name="content" id="content" />
        <button type="submit" class="talk-btn">Submit</button>
      </form>
      <ul>
        <% wordBank.forEach(details => { %>
        <li>
            <!-- details.content is the word being posted and sent to db -->
            <!-- can add the edit and delete function just want basics to work -->
          <div><%= details.content %></div>
          <a href="/edit/<%= details._id %>" class="edit">
            <span>Edit</span>
          </a>
          <a href="/remove/<%= details._id %>" class="remove">
            <span>Remove</span>
          </a>
        </li>
        <% }) %>
      </ul>
    </div>
  </div>


</body>