*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 }

 body {
  /* min-height: 100vh; */
  min-height: calc(100vh - 10em);
  background-color: #206a5d;
  font-family: "Lexend", sans-serif;
  color: #ffcc29;
  font-size: 62.5%;
  /* because now 1.4 rem = 14px */
  /* em unit is relative to the font size of parent element, however, rem is relative 
to the default font size of the browser.......  */
}


/* grid styles */

.container {  display: grid;
  grid-template-columns: 1fr 0.8fr 1.2fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "speakbank speakbank workbank"
    "speakbank speakbank workbank"
    ". . .";
}

.workbank {
  justify-self: start;
  grid-area: workbank;
  padding-top: 10em;
}

.speakbank {
  justify-self: center;
  align-self: end;
  grid-area: speakbank;
  padding-top: 10em;
}


h2 {
  text-align: center;
  font-size: 3rem;
  padding-bottom: 2rem;
}

ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.confirmBtn,
input {
  align-self: center;
  background: transparent;
  padding: 0.5rem 0.5rem;
  /* margin: 0 0.5rem; */
  transition: all 0.5s ease;
  color: #81b214;
  font-size: 1.2rem;
  letter-spacing: 1px;
  outline: none;
  box-shadow: 20px 38px 34px -26px;
  background-color: hsla(0, 0%, 0%, 0.2);
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;

  border: solid 7px #f58634;
}

button:hover {
  box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, 0.3);
  background-color: hsla(0, 0%, 0%, 0.3);
  background-color: hsla(0, 0%, 0%, 0.3);
}

span {
  color: #81b214;
  cursor:pointer;
}



a {
  text-decoration: none;
  color: #81b214;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    margin-top: -5px;
    border-radius: 50%;
   }
   
   input[type="range"]::-moz-range-thumb {
    height: 15px;
    width: 15px;
    margin-top: -5px;
    border-radius: 50%;
   }
   
  .bankList {
    font-size: 1.2rem;
  }
  .confirmBtn {
    background-color: hsla(0, 0%, 0%, 0.3);
  }  

  .word {
    font-size: 2rem;
  }