

body{
    min-height: 100vh;
    background-color: rgb(123, 218, 213);
}

.holdBoth {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.repeatBox{
    /* flex-direction: column; */
    
}

.bankBox{
    display: flex;
    align-items: flex-end;

} 