

body{
    min-height: 100vh;
    background-color: rgb(123, 218, 213);
}

.holdBoth {
    display: flex;
    margin-top: 10em;
    
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .doubleColumn {
    display: flex;
    flex-direction: column;
    /* flex-basis: 100%; */
    flex: 2
  }

  .column {
    display: flex;
    flex-direction: column;
    /* flex-basis: 100%; */
    flex: 1;
  }

 .repeatBox{
    align-items: center;
    justify-content: center;
}

.bankBox {
    align-items: center;

} 